<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Create a post')">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar" />



	<div class="container d-flex flex-row">

		<form class="form-inline" th:action="${'/posts/create'}" th:method="POST" th:object="${post}">
			<form th:replace="fragments/form :: form('Create')" />
		</form>

	</div>

	<div th:replace="fragments/footer :: footer" />

</body>
</html>