<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit a post')">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar" />

<div class="container d-flex flex-row">
	<form class="form-inline" th:action="${'/posts/' + post.id + '/edit'}" th:method="POST" th:object="${post}">
		<label for="inlineFormInputName2">Title</label>
		<input type="text" name="title" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" th:field="*{title}">

		<label for="inlineFormInputName3">Body</label>
		<input type="text" name="body" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" th:field="*{body}">

		<button type="submit" class="btn btn-primary mb-2 mr-2">Update post</button>
	</form>

	<form th:action="${'/posts/' + post.id + '/delete'}" th:method="POST">
		<button type="submit" class="btn btn-danger mb-2">Delete</button>
	</form>

</div>

<div th:replace="fragments/footer :: footer" />

</body>
</html>