<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<head>
	<title>Thanks for reaching out!</title>
	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css/styles.css" rel="stylesheet" />
</head>


<body id="comments-done">
<div class="container">
	<div class="masthead-subheading mt-5 d-flex justify-content-center">Thanks for your comments!</div>
	<div class="masthead-subheading d-flex justify-content-center">I will contact you soon.</div>
	<a class="comments-back text-uppercase d-flex justify-content-center text-uppercase" href="/">Go Back To Main Page</a>
</div>
</body>


</html>