<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Roll The Dice')">
	<meta charset="UTF-8">
	<title>Some title...</title>
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar" />

	<div class="container">
		<h1>Roll the dice</h1>

		<div>
<!--		<div th:if="${userGuess == null}"> Nothing on the div tag can also be written as this to the left-->
			<a href="/roll-dice/1">Guess 1</a>
			<a href="/roll-dice/2">Guess 2</a>
			<a href="/roll-dice/3">Guess 3</a>
			<a href="/roll-dice/4">Guess 4</a>
			<a href="/roll-dice/5">Guess 5</a>
			<a href="/roll-dice/6">Guess 6</a>
		</div>

		<div th:if="${userGuess}">
<!--			The above can also be written as "${userGuess != null}"-->
			<h3>Your guess: <span th:text="${userGuess}"></span></h3>

			<div th:each="roll : ${diceRolls}">
				<h3>The dice # that came up: <span th:text="${roll}"></span></h3>
					<h2 th:if="${roll == userGuess}">Congratulations, you win!</h2>
					<h2 th:if="${roll != userGuess}">Sorry, you lose.</h2>
			</div>

		</div>

		<div th:replace="fragments/footer :: footer" />
	</div>


</body>
</html>